<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Where to Surf App</title>
  </head>
  <body>
    <h1>Welcome to the Where to Surf App</h1>
    <p>An app for logging your surf sessions and the conditions to determine where you want to surf next.</p>
  </body>
</html>
